.cover-container {
    max-width: 42em;
   
}
.p-3 {
    padding: 1rem !important;
}
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.flex-column {
    flex-direction: column !important;
}
.h-100 {
    height: 100% !important;
}
.w-100 {
    width: 100% !important;
}
.d-flex {
    display: flex !important;
}
main{
  padding-top: 25vh;
  height: 85vh;
  

}

.mb-auto {
    margin-bottom: auto !important;
}
body {
    background-image: url("/images/9.jpg");
    background-size: 100%;
    background-color: rgba(102, 222, 16, 0.2);
    background-blend-mode: soft-light;
}
nav{
  gap: 25px;
  align-items: end;
  align-self: flex-end;
}



