*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Segoe UI", sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background: linear-gradient(135deg,#667eea,#764ba2);
   font-family: 
  "Segoe UI Emoji",
  "Apple Color Emoji",
  "Noto Color Emoji",
  "Segoe UI",
  sans-serif;
}

/* ONLY style the main card */
.container{
  background:white;
  padding:40px 50px;
  border-radius:15px;
  box-shadow:0 10px 25px rgba(0,0,0,0.2);
  text-align:center;
  width:350px;
}

h1{
  font-size:70px;
  margin-bottom:25px;
}

input{
  width:100%;
  padding:12px;
  border-radius:8px;
  border:1px solid #ccc;
  font-size:16px;
}

button{
  margin-top:15px;
  width:100%;
  padding:12px;
  border:none;
  border-radius:8px;
  background:#667eea;
  color:white;
  cursor:pointer;
}