<!DOCTYPE html>
<html>
<meta charset="UTF-8">

<head>
  <title>Flag Guess</title>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="/index.css">
</head>

<body>

  <div class="container">

    <h2>Score: <%= score %>
    </h2>

    <% if(gameOver){ %>

      <h1>You Lost ❌</h1>

      <a href="/restart">
        <button>Play Again</button>
      </a>

      <% } else { %>

        <h1>
          <%= data.flag %>
        </h1>

        <form action="/submit" method="post">
          <input type="text" name="country" placeholder="Enter Country Name" required>
          <button type="submit">Guess</button>
        </form>

        <% } %>

  </div>

</body>

</html>